<section class="order-show jumbotron">
<header class="page-header"  
<h4>Thank you for your order!</h4>
  <h4>Your email is <%= @order.email%></h4>
</header>
<article class="order-detail">
<%= render @line_items %>
  <h2>Final order amount: <%= @order.total%></h2>
</article> 
  <footer> 
<%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</footer>
  </section>

  